/* 
 * Vazir Persian Font // Persian Digits
 */
@font-face {
  font-family: 'vazir';
  font-style: normal;
  font-weight: normal;
  src: url(Vazir-FD.eot);
  src: url(Vazir-FD.eot?#iefix) format('embedded-opentype'),
       url(Vazir-FD.woff2) format('woff2'),
       url(Vazir-FD.woff) format('woff'),
       url(Vazir-FD.ttf) format('truetype');
}
@font-face {
  font-family: 'vazirB';
  font-style: normal;
  font-weight: 700;
  src: url(Vazir-Bold-FD.eot);
  src: url(Vazir-Bold-FD.eot?#iefix) format('embedded-opentype'),
       url(Vazir-Bold-FD.woff2) format('woff2'),
       url(Vazir-Bold-FD.woff) format('woff'),
       url(Vazir-Bold-FD.ttf) format('truetype');
}
@font-face {
  font-family: 'vazirBL';
  font-style: normal;
  font-weight: 900;
  src: url(Vazir-Black-FD.eot);
  src: url(Vazir-Black-FD.eot?#iefix) format('embedded-opentype'),
       url(Vazir-Black-FD.woff2) format('woff2'),
       url(Vazir-Black-FD.woff) format('woff'),
       url(Vazir-Black-FD.ttf) format('truetype');
}
@font-face {
  font-family: 'vazirL';
  font-style: normal;
  font-weight: 300;
  src: url(Vazir-Light-FD.eot);
  src: url(Vazir-Light-FD.eot?#iefix) format('embedded-opentype'),
       url(Vazir-Light-FD.woff2) format('woff2'),
       url(Vazir-Light-FD.woff) format('woff'),
       url(Vazir-Light-FD.ttf) format('truetype');
}
@font-face {
  font-family: 'vazirM';
  font-style: normal;
  font-weight: 400;
  src: url(Vazir-Medium-FD.eot);
  src: url(Vazir-Medium-FD.eot?#iefix) format('embedded-opentype'),
       url(Vazir-Medium-FD.woff2) format('woff2'),
       url(Vazir-Medium-FD.woff) format('woff'),
       url(Vazir-Medium-FD.ttf) format('truetype');
}
@font-face {
  font-family: 'vazirT';
  font-style: normal;
  font-weight: 100;
  src: url(Vazir-Thin-FD.eot);
  src: url(Vazir-Thin-FD.eot?#iefix) format('embedded-opentype'),
       url(Vazir-Thin-FD.woff2) format('woff2'),
       url(Vazir-Thin-FD.woff) format('woff'),
       url(Vazir-Thin-FD.ttf) format('truetype');
}
