.header-currency {
    .content-dropdown{
        a{
            span.symbol{
                padding-left: 10px; 
            }
        }
    }
}

.header-language {
    .content-dropdown {
        a{
            padding-left: 1px;
        }
    }
}

.product-featured-image {
    border-right:1px solid #f1f1f1;
}