@media only screen and (min-width: 1200px){
	.features-taste .features-heading{
		padding-bottom: 60px;
	}
}
@media only screen and (min-width: 767px){
    .header-mobile,
    .footer-mobile-bar{
        display: none;
    }
    .avatar{
		float: right;
		
	}
	ul.columns-4{
		display: flex;
	    flex-wrap: wrap;
		border-bottom: solid 1px #dadada;
	    padding: 0px;
		li{
			display: inline-block;
			flex: 0 0 25%;
	    	max-width: 25%;
			border-left: solid 1px $border-color;
			border-top: solid 1px $border-color;
			&:nth-child(4n+4){
				border-left: none;
			}
			
		}
	}
}

@media only screen and (max-width: 992px){
	.slider-pro h2.sp-layer {
	    font-size: 50px;
	    line-height: 50px;
	    letter-spacing: -4px;
	}
	.product-info{
		.product-meta{
			padding-top: 20px;
		}
	}
	.payment{
		padding-top: 20px;
	}
	.sidebar{
        padding-top: 60px;
    }
    .blog article .blog-content {
        padding: 10px;
    }
}
@media only screen and (max-width: 767px){
	.blog{
		.blog-list{
			article{
				display: block;
			}
		}
	}
	.product-feature{
        .feature-product {
            .product-feature__meta{
                display: block;
            }
            .product-price{
                padding-bottom: 20px;
            }
        }
    }
    .instagram-content{
        display: block;
         li{
            width: 50%;
            float: right;
        }
    }
	.page-404 .content-404 .title_404{
   		 font-size: 200px;
	}
	.avatar{
		text-align: center;
		padding-bottom: 20px;
	}
	.account-form-container{
		padding: 20px;
	}
}