
// standard colors
$white		    : #fff !default;
$black			: #000 !default;
$nocolor		: transparent !default;
$light-gray		: #ccc !default; 

//## Font for body text, headings

$font-family-base:        'vazir', "Yantramanav", sans-serif !default; 


$font-size-home: 18px;

// color for default theme
$bg-color       :  transparent;
$theme-color    :  #e41a1e; /* main color which will be used for all main block styles... */
$theme-color-second  	: #000;
$text-color:	   #888 !default;

$border-color	: 	#dadada !default;
$border-color-second : #ebebeb !default;

// link
$color-link        : #000 !default;
$color-link-hover   : $theme-color !default;        

$nav-color: 		 #555 !default;


$text-transform:    uppercase !default;

 // button color
$primary-color:  #fff  !default;
$primary-bg:   $theme-color;
$primary-border:  $theme-color;

$default-color:  #fff  !default;
$default-bg:     lighten( $theme-color, 10% ) !default;
$default-border: lighten( $theme-color, 10% ) !default;


// cart
$cart-color: #fff !default;
$cart-text: #000 !default;

// top-bar
$topbar-color-icon: $theme-color !default;
$topbar-color:		 #ccc !default;

// header
$header-color-icon: #000 !default;

// footer
$bg-footer       :  #060611 !default;

// feature
$feature-heading-size : 24px !default;